<!-- Seccion Footer -->
<footer>
    <p>--marcelofeliziani8j5@gmail.com--</p>
    <div class="redes">
        <a href="https://wa.me/5212616450814"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://t.me//Marcelo333444"><i class="fa-brands fa-telegram"></i></a>
        <a href="https://github.com/marcelo333444"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/marcelo-feliziani-85a165249"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>
