<!-- seccion servicios -->
<section id="servicios">
    <h3 class="titulo-seccion">MIS SERVICIOS</h3>
    <div class="fila">
        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-code"></i></span>
            <h4>Diseño de Blogs Informativos.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Negocios</li>
                <li>Informativos</li>
                <li>Blogs de ventas</li>
            </ul>
            <p>Desarrollo de páginas web con fines informativos y de ventas.</p>
        </div>

        <div class="servicio">
            <span class="icono"><i class="fa-brands fa-angular"></i></span>
            <h4>Desarrollo Front-End.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>HTML</li>
                <li>CSS</li>
                <li>Boostrap</li>
                <li>JavaScript</li>
                <li>Angular</li>
            </ul>
            <p>Desarrollo de páginas Web con Local Storage/Base de datos.</p>
        </div>

        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-server"></i></span>
            <h4>Desarrollo Back-End.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Java</li>
                <li>SpringBoot</li>
                <li>MySQl</li>
                <li>PostMan</li>
                <li>Xamp</li>
            </ul>
            <p>Desarrollo de apis para páginas web/conección a base de datos.</p>
        </div>

        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-database"></i></span>
            <h4>Apliaciones web.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Usuario/s.</li>
                <li>Json Web Token</li>
                <li>Maven/Gradle</li>
            </ul>
            <p>Aplicaciones web, desarrollo Front-End y Back-End, Base de datos.</p>
        </div>

    </div>
</section>
