<!-- seccion servicios -->
<section id="servicios">
    <h3 class="titulo-seccion">MIS SERVICIOS</h3>
    <div class="fila">
        <div class="servicio">
            <span class="icono"> <i class="fa-solid fa-code"></i></span>
            <h4>Diseño de Sitios Web</h4>
            <hr>
            <ul class="servicios-tag">
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Script</li>
            </ul>
            <p>Desarrollo de páginas web con fines informativos y de ventas.</p>
        </div>
        <div class="servicio">
            <span class="icono"><i class="fa-brands fa-angular"></i></span>
            <h4>Desarrollo Front-End.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>html/css</li>
                <li>Boostrap</li>
                <li>Typescript</li>
            </ul>
            <p>Desarrollo de app con coneccion backend/base datos</p>
        </div>
        <div class="servicio">
            <span class="icono"><i class="fa-solid fa-server"></i></span>
            <h4>Desarrollo Back-End.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Java</li>
                <li>SpringBoot</li>
                <li>MySQl</li>
            </ul>
            <p>Desarrollo de apis para páginas web/conección a base de datos.</p>
        </div>
    </div>
</section>
