<!-- Seccion Contacto -->
<section id="contacto">
    <h3 class="titulo-seccion">Contactanos Ahora</h3>
    <div class="contenedor-form">
        <form id="formulario" action="https://formsubmit.co/marcelofeliziani8j5@gmail.com" method="POST">
            <div class="fila mitad">
                <input type="tel" 
                       placeholder="Número Telefonico" 
                       class="input-mitad" 
                       id="inputTelefono"
                       name="telefono">

                <input type="email" 
                       placeholder="Dirección de Email" 
                       class="input-mitad" 
                       id="inputEmail"
                       name="email">
            </div>
            <div class="fila">
                <input type="text" 
                       placeholder="Nombres y Apellidos" 
                       class="input-full" 
                       id="inputDatos"
                       name="nombres y apellidos">
            </div>
            <div class="fila">
                <input type="text" 
                       cols="30" 
                       rows="10" 
                       placeholder="Tu Mensaje" 
                       class="input-full"
                       id="inputMensaje"
                       name="mensaje">
            </div>
            <input type="submit" 
                   value="Enviar" 
                   class="btn-enviar">

                   <input type="hidden" name="_next" value="http://localhost:4200/">
        </form>
    </div>
</section>
