<!-- Seccion Contacto -->
<section id="contacto">
    <h3 class="titulo-seccion">Contactanos Ahora</h3>
    <div class="contenedor-form">
        <form id="formulario" action="https://formsubmit.co/marcelofeliziani8j5@gmail.com" method="POST">
            <div class="fila mitad">
                <input type="text" placeholder="Número Telefonico" class="input-mitad" id="inputTelefono"
                name="phone">

                <input placeholder="Dirección de Email" class="input-mitad" id="inputEmail" type="email" name="email">
            </div>
            <div class="fila">
                <input type="text" placeholder="Nombres y Apellidos" class="input-full" id="inputDatos"
                name="name">
            </div>
            <div class="fila">
                <input type="text" cols="30" rows="10" placeholder="Tu Mensaje" class="input-full" id="inputMensaje"
                name="message">
            </div>
            <input type="submit" value="Enviar" class="btn-enviar">
            <!-- <input type="hidden" name="_next" value="https://forntendportfolio.firebaseapp.com/">
            <input type="hidden" name="_captcha" value="false"> -->
        </form>
    </div>
</section>