<!-- Seccion Portafolio -->
<section id="portfolio">
    <h3 class="titulo-seccion">MIS PROYECTOS</h3>
    <div class="fila">

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/mging.png" alt="foto">
            <div class="info">
                <a href="https://mingdevelopment.com/"><h4>Landing Page / M-ingDevelopment</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/proyectoTuring.png" alt="foto">
            <div class="info">
                <a href="https://proyectoturing-4ce40.firebaseapp.com/"><h4>Landing Page / Proyecto Turing</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/Captura de pantalla 2023-12-05 031957.png" alt="Img">
            <div class="info">
                <a href="https://ramlanding-690c5.firebaseapp.com/">
                <h4>R.A.M</h4></a>
                <p>Desarrollo Web</p>
            </div>
        </div> 
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/appram.jpeg" alt="Img">
            <div class="info">
                <a href="https://appram-70aff.web.app/">
                <h4>App/R.A.M</h4></a>
                <p>Aplicación Web</p>
            </div>
        </div>
    </div>
</section>
