<!-- Seccion Portafolio -->
<section id="portfolio">
    <h3 class="titulo-seccion">MIS PROYECTOS</h3>
    <div class="fila">

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/img.jpg" alt="foto">
            <div class="info">
                <a href="#"><h4>Descripcion del proyecto</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/img.jpg" alt="foto">
            <div class="info">
                <a href="#"><h4>Descripcion del proyecto</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/img.jpg" alt="foto">
            <div class="info">
                <a href="#"><h4>Descripcion del proyecto</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>

        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/img/img.jpg" alt="foto">
            <div class="info">
                <a href="#"><h4>Descripcion del proyecto</h4>
                <p>Diseño Web</p></a>
            </div>
        </div>
    </div>
</section>
